<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.SimonThiefes.SurafceArea</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Surface Area</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string> <!-- 1.0 -->
	<key>CFBundleVersion</key>
	<string>100</string> <!-- 123 -->
	<key>UpdateFeedURL</key>
	<string>https://github.com/simonthi/SurfaceArea/blob/main/SurfaceArea.glyphsPalette/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/simonthi/SurfaceArea/</string>
	<key>productReleaseNotes</key>
	<string>First draft. Limitations: does not yet work with components or smart stuff.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Simon Thiefes, 2024</string>
	<key>NSPrincipalClass</key>
	<string>SurafceArea</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
